[Unit]
Description={{name}}
Author=Paul R. Tagliamonte <tag@pault.ag>
Requires=docker.io.service

[Service]
Restart=always
ExecStart=/bin/bash -c '/usr/bin/docker start -a {{name}} || \
    /usr/bin/docker run \
        -it \
        --name {{name}} \
        -v /srv/{{name}}/:/{{name}}/ \
{% for port in ports %}
        -p 0.0.0.0:{{port}}:{{port}}/tcp \
{% endofr %}
        {{image}}'
ExecStop=/usr/bin/docker stop -t 5 {{name}}

[Install]
WantedBy=multi-user.target
